<html>
<head>
    <title>Home Page</title>
    <style type="text/css" media="screen">
        body{
            margin: 0px;
        }
        #form{
            position: absolute;
            margin-top: 30px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 450px;
            width: 500px;
            background: #f2f2f2;
            overflow: hidden;
            border-radius: 20px;
            cursor: pointer;
            box-shadow: 0 0 20px 8px #d0d0d0;
            overflow: scroll;
            
        }
        form{
            margin-left :50px; 
        }
        input[type="submit"]{
            margin-left:100px ;
            width: 250px;
            height: 30px;
        }
        h1{
            border-bottom: 1px solid black;
        }
        #header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: grey;
            height: 80px;
            color: white;
        }
        #left-container{
            margin-left: 20px;
        }
        #left-container a {
            position: absolute;
            left:130px;
            top: 20px;
        }
        #right-container{
            margin-right: 50px;
            margin-top: 20px;
        }
        #right-container a{
            margin-right: 20px;
        }

    </style>
</head>
<body>
    <div id="header">
        <div id="left-container">
            <img height="70px" width="70px" src="https://cdn-icons-png.flaticon.com/512/2725/2725708.png" alt="icon">
            <a href="http://localhost:8000/"><b>Home</b></a>
        </div>
        <div id="right-container">
            <a href="http://localhost:8000/signIn"><b>Sign In</b></a>
            <!-- <a href="http://localhost:8000/signOut"><b>Sign Out</b></a> -->
        </div>
    </div>
    
    <div id="form">
        <h1>Fill this form for Placement</h1>
        <form method="post" action="/success" >
            <label>Student Name</label>
            <input type="text" name="sName" required><br><br/>
            <label>Batch</label>
            <input type="number" name="batch" min="2010" max="2030" required/>

            <h4>Student Details:</h4>
            <label>College</label>
            <input type="text" name="college" required><br>
            <label name="status">Status</label>
            <input type="radio" name="status" checked>Placed</input>
            <input type="radio" name="status">Not Placed</input>

            <h4>Course Scores:</h4>
            <label>DSA </label>
            <input type="text" name="dsa" placeholder="DSA Final score..." required/><br/><br/>
            <label>Web Dev</label>
            <input type="text" name="webDev" placeholder="Web Development Final score..." required/><br/><br/>
            <label>React </label>
            <input type="text" name="react" placeholder="React Final Score..." required/>

            <h4>Interviews:</h4>
            <label>Company Name</label>
            <select name="cName" required>
                <%for(interview of interviews){%>
                    <%var date=(""+interview.when).substr(0,25)%>
                    <option value="<%=interview._id%>"><%=interview.cName.toUpperCase()%>,<%=date%></option>
                    <%}%>
            </select><br/><br/> 
            <!-- <label>When:</label>
            <input type="date" name="when" required/><br/><br/> -->
            <label>Result</label>
            <select name="result" required>
                <option value="pass">PASS</option>
                <option value="fail">FAIL</option>
                <option value="onHold">on Hold</option>
                <option value="notAttempted">Didn't Attempt</option>
            </select><br/><br/> 
            <input type="submit" />
            </form>
        </div>
</body>
 
</html> 