<html>
<head>
    <title>Success Page</title>
    <style type="text/css" media="screen">
        body{
            margin: 0px;
        }
        #form{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 300px;
            width: 400px;
            background: #f2f2f2;
            overflow: hidden;
            border-radius: 20px;
            cursor: pointer;
            box-shadow: 0 0 20px 8px #d0d0d0;
        }
        h1{
            border-bottom: 1px solid black;
        }
        #header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: grey;
            height: 80px;
            color: white;
        }
        #left-container{
            margin-left: 20px;
        }
        #right-container{
            margin-right: 50px;
            margin-top: 20px;
        }
        #right-container a{
            margin-right: 20px;
        }
        #success-cnt{
            color: green;
            margin: 90px;
        }
        #success-cnt img{
            margin-left: 50px;
        }
        #left-container a {
            position: absolute;
            left:130px;
            top: 20px;
        }
        span{
            margin-left: 130px;
        }
    </style>
</head>
 
<body>
    <div id="header">
        <div id="left-container">
            <img height="70px" width="70px" src="https://cdn-icons-png.flaticon.com/512/2725/2725708.png" alt="icon">
            <a href="/"><b>Home</b></a>
        </div>
        <div id="right-container">
            <a href="/signIn"><b>Sign In</b></a>
            <a><b>Sign Out</b></a>
        </div>
    </div>
    <div id="form">
        <h1><span>Form Filled</span></h1>
            <div id="success-cnt">
                <img height="100px" width="100px" src="https://cdn-icons-png.flaticon.com/512/7518/7518748.png" alt="ss"/>
                <p><b>form successfully Submitted!</b></p>
        </div>
</body>
 
</html> 